extends ./layouts/index

block slider
    .slider
        h1 Río de Janeiro
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sollicitudin, eros ut blandit congue, nisl odio ultricies nunc, in rutrum nisl metus nec diam.
                p Vestibulum posuere quam augue, quis vulputate ante dapibus volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen nosotros").img-fluid
        include ./layouts/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    .container
        h2.mt-5.text-center Testimoniales
            include ./layouts/bloque_testimoniales