extends ./layouts/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Imagen sobre nosotros").img-fluid
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum quam eu arcu sagittis euismod. Aliquam in ligula vitae lectus fringilla laoreet. Sed hendrerit viverra urna nec efficitur. Aliquam ullamcorper tempor nulla sed congue. Etiam sit amet diam ante. Duis congue a nulla ut luctus. Praesent hendrerit sagittis sagittis. Aenean est lectus, aliquam tincidunt turpis et, tincidunt tincidunt est. Etiam varius risus ut magna commodo, ac ullamcorper massa mattis. Phasellus vestibulum id mi in posuere.

                p Duis ac erat a justo blandit iaculis. Quisque in quam vitae dolor gravida varius rhoncus ut enim. Mauris ac leo id nibh lobortis rutrum. Ut tristique arcu sit amet elit maximus, quis blandit massa sollicitudin. Sed in mollis mi. Vivamus eget ipsum iaculis, vulputate enim et, tempor lectus. Nunc feugiat tellus a leo mattis iaculis.

                p Nulla facilisis, lacus vel efficitur maximus, ligula odio dictum urna, nec auctor lacus leo ut eros. Donec tortor mi, finibus sit amet consequat et, volutpat vel velit. Nunc dignissim nec odio id pretium. Etiam mollis quis sapien et viverra. Curabitur placerat odio nec ante commodo, in molestie est luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam et interdum est.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="Icono seguridad").img-fluid.mb-4
                    h2 seguridad
                    p Nulla facilisis, lacus vel efficitur maximus, ligula odio dictum urna, nec auctor lacus leo ut eros
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="Icono destinos").img-fluid.mb-4
                    h2 Mejores Destinos
                    p Nulla facilisis, lacus vel efficitur maximus, ligula odio dictum urna, nec auctor lacus leo ut eros
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="Icono precios").img-fluid.mb-4
                    h2 Los Mejores Precios
                    p Nulla facilisis, lacus vel efficitur maximus, ligula odio dictum urna, nec auctor lacus leo ut eros